<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="tumblr-consumer-id"     value="" />
    <add key="tumblr-consumer-secret" value="" />
    <add key="tumblr-access-token"    value="" />
    <add key="tumblr-access-secret"   value="" />
    <add key="tumblr-blog-hostname"   value="" />
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>